.pen-table {
    margin: 25px auto !important;
    border-collapse: collapse !important;
    width: 100% !important;
    border: 1px solid #ff3d00 !important;
    border-bottom: 2px solid #ff3d00 !important;    
}

.pen-table tr:hover {
    background: #f4f4f4  !important;
}

.pen-table tr:hover td {
    color: #555  !important;
}

.pen-table td,
.pen-table th {
    border: 1px solid #ff3d00  !important;
    padding: 10px 15px !important;
    border-collapse: collapse  !important;
}

.pen-table th {
    background: #ff3d00;
    color: #fff !important;
    text-align: center !important;
}

.pen-table th.last {
    border-right: none !important;
}
