@import url(https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-coy.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-numbers/prism-line-numbers.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/toolbar/prism-toolbar.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

.jump-link { 
text-align: right; /* align right of post - can also use left or center */ 
background: #333333; /* change background colour for full width of jump link */
}

.jump-link a { 
background: #333333; /* change background colour for just the text part */
color: #eeeeee; /* change text colour */ 
padding: 5px; /* change spacing around text */
border-radius: 5px; /* change radius of background */ 
font-size: 12px; /* change font size */
}

.jump-link a:hover { 
background: #eeeeee; /* change background colour on hover */
color: #333333; /* change text colour on hover */ 
text-decoration: none; /* no text underline on hover */ 
}
